@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --color-white: #ffffff;
  --color-copper: #B45F4D;
  --color-pantone: #F1D3B9;
  --color-bg-orange-terra: #F6F4EC;
  --color-green-tea: #A9AE8D;
  --color-dupont: #DF9B7A;
  --color-bg-peach-white:  #F1D3B9;
  --color-black: #000;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

a:hover {
  opacity: 0.8;
}

.container {
  width: 100%;
  max-width: 1500px;
  padding: 0 30px;
  margin: 0 auto;
}


@media screen and (max-width: 430px) {
}
